<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for user do |user_fields| %>
    ...
    <%= user_fields.label :name %>
    <%= user_fields.text_field :name %>
    <br>
    <%= user_fields.label :email %>
    <%= user_fields.text_field :email %>
    <br>
    <%= user_fields.label :password %>
    <%= user_fields.password_field :password %>
    <br>
    <%= user_fields.label :password_confirmation %>
    <%= user_fields.password_field :password_confirmation %>
  <% end %>
  
<% end %>
